@import 'tailwindcss';
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');*/

@plugin 'tailwindcss-animate';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: 0, 0%, 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 210, 40%, 96%;
    --card-hover: 214, 32%, 91%;
    --card-foreground: 215, 19%, 35%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215, 19%, 35%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.5rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
    --icon: 215, 20%, 65%;
    --icon-muted: 213, 27%, 84%;
    --icon-active: 215, 25%, 27%;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: 217, 33%, 17%;
    --card-hover: 215, 25%, 27%;
    --card-foreground: 215, 20%, 65%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 215, 20%, 65%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
    --icon: 213, 27%, 84%;
    --icon-muted: 215, 25%, 27%;
    --icon-active: 210, 40%, 98%;
}


@layer base {
    body {
        @apply bg-background text-foreground scroll-smooth;
    }

    h1 {
        @apply text-[96px] font-medium;
        line-height: 112px;
    }
    h2 {
        @apply text-[72px] font-medium;
        line-height: 88px;
    }
    h3 {
        @apply text-[60px] font-medium;
        line-height: 72px;
    }
    h4 {
        @apply text-[48px] font-medium;
        line-height: 60px;
    }
    h5 {
        @apply text-[36px] font-medium;
        line-height: 40px;
    }
    h6 {
        @apply text-[30px] font-medium;
        line-height: 36px;
    }
}

/* Circle progress */
.circle-progress {
    @apply fill-none stroke-primary;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Swiper pagination style */
.teams .swiper-pagination {
    @apply -mb-2.5;
}

.teams .swiper-pagination-bullet {
    @apply w-2 h-2 bg-icon-muted transition-all duration-300;
}

.teams .swiper-pagination-bullet-active {
    @apply w-3 h-3 bg-icon-active;
}

/* about slider */
.aboutUsTestimonials .swiper-pagination {
    @apply !bottom-[100px] md:!bottom-[120px];
}

.aboutUsTestimonials .swiper-pagination-bullet {
    @apply w-8 md:w-[60px] h-10 md:h-[60px] rounded-full transition-all duration-100 overflow-hidden;
}

.aboutUsTestimonials .swiper-pagination-bullet-active {
    @apply w-12 md:w-[100px] h-12 md:h-[100px] shadow;
}

/* faqs-cta */
.faqs-cta {
    background: var(
            --tailwindcss-color-palette-slate-gradient-2,
            linear-gradient(90deg, rgba(241, 245, 249, 0) 0%, #c6d6e7 100%)
    );
}

/* apex chart style */
.apexcharts-canvas .apexcharts-tooltip {
    @apply dark:!text-primary-foreground;
}
/* apexcharts-tooltip-title */
/* apexcharts-tooltip-series-group */
.apexcharts-canvas .apexcharts-tooltip-marker {
    @apply dark:!bg-primary-foreground;
}
/* apexcharts-tooltip-text */

.actionLessLineChart .apexcharts-xaxis,
.apexcharts-xaxis-tick {
    display: none !important;
}

/* vectorMap style */
.vectorMap svg path {
    @apply outline-none cursor-pointer fill-card-hover hover:fill-primary;
}

/* Code result viewer */
.code-result pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

